body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.column .card .card-header .card-header-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.column .card .card-content .content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}